[package]
name = "rapla-proxy"
version = "0.2.0"
edition = "2021"

[lib]
path = "src/rapla.rs"

[dependencies]
chrono = { version = "0.4.30", features = [
    "std",
    "clock",
], default-features = false }
form_urlencoded = "1.2.0"
hyper = { version = "0.14.27", features = ["h2", "server"] }
ics = "0.5.8"
once_cell = "1.18.0"
reqwest = { version = "0.11.20", features = [
    "rustls-tls",
    "trust-dns",
], default-features = false }
scraper = { version = "0.17.1", default-features = false }
tokio = { version = "1.32.0", features = ["macros", "rt-multi-thread"] }

[profile.release]
lto = true
opt-level = 3
strip = "symbols"
