[package]
name = "rapla-to-ics"
version = "0.1.0"
edition = "2021"
license = "MIT"

[dependencies]
async-std = { version = "1.12.0", features = ["attributes"] }
futures = "0.3.26"

clap = { version = "4.1.4", features = ["cargo"] }

url = "2.3.1"
ics = "0.5.8"
chrono = "0.4.23"

surf = { version = "2.3.2", features = ["hyper-client"], default-features = false }
scraper = "0.14.0"

tide = "0.16.0"

anyhow = "1.0.69"

log = "0.4.17"
pretty_env_logger = "0.4.0"

once_cell = "1.17.0"

[profile.release]
lto = true
opt-level = 3
strip = "symbols"
