name: Build and push docker image

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  TAG: latest

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install Nix
      uses: cachix/install-nix-action@v18

    - name: Setup Cachix
      uses: cachix/cachix-action@v12
      with:
        name: systems
        authToken: ${{ secrets.CACHIX_TOKEN }}

    - name: Check flake
      run: nix flake check -L

    - name: Build docker image
      run: nix build -L .#rapla-to-ics-docker

    - name: Load docker image
      run: docker load <result
      if: github.event_name != 'pull_request'

    - name: Login to container registry
      uses: docker/login-action@v2
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
      if: github.event_name != 'pull_request'

    - name: Tag image
      run: docker tag rapla-to-ics:latest ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.TAG }}
      if: github.event_name != 'pull_request'

    - name: Push docker image
      run: docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.TAG }}
      if: github.event_name != 'pull_request'
